.footer-toolbar {
  background-color: navy !important;
  color: white !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  font-size: 14px;
}
.footer-text {
  width: 100%;
  text-align: center;
}
