body {
  background-color: green;
}
div {
  border: 2px solid #000;
  width: 550px;
  height: 200px;
  margin: auto;
  margin-top: 90px;
}

div h1 {
  text-align: left;
  margin-top: -10px;
  height: 5px;
  line-height: 10px;
  margin-left: 30px;
  font-size: medium;
}

div h1 span {
  background-color: white;
}

div p {
  font-size: 20px;
  margin-left: 90px;
  padding: 20px;
}

.txtbox {
  margin-left: 150px;
  width: 60px;
  margin-right: 10px;
}

.close_btn {
  background-color: white;
  margin-right: -10px;
  border: 0px solid white;
  justify-content: flex-end;
}

.image_curr_zip {
  width: 160px;
  height: 160px;
}

.container {
  display: grid;
  grid-template-columns: 50% auto;
}
